## Can you create a random sample of 500 rows from that dataset?

In [1]:
import pandas as pd
import numpy as np
Location = "datasets/gradedata.csv"
df = pd.read_csv(Location)
df.tail()

,fname,lname,gender,age,exercise,hours,grade,address
1995,Cody,Shepherd,male,19,1,8,80.1,"982 West Street, Alexandria, VA 22304"
1996,Geraldine,Peterson,female,16,4,18,100.0,"78 Morris Street, East Northport, NY 11731"
1997,Mercedes,Leon,female,18,3,14,84.9,"30 Glenridge Rd., Bountiful, UT 84010"
1998,Lucius,Rowland,male,16,1,7,69.1,"342 West Meadowbrook Lane, Helena, MT 59601"
1999,Linus,Morris,male,19,4,10,79.6,"81 Homestead Drive, Voorhees, NJ 08043"

In [2]:
df.take(np.random.permutation(len(df))[:500])

,fname,lname,gender,age,exercise,hours,grade,address
732,Oscar,Sosa,male,14,3,15,88.9,"816 Annadale St., Ambler, PA 19002"
111,Quinlan,Rollins,male,15,5,8,73.3,"77 Tower St., Carmel, NY 10512"
1552,Velma,Hardin,female,18,4,11,85.3,"712 2nd Ave., Taylor, MI 48180"
1704,Shafira,Rodriquez,female,15,4,17,98.1,"201 Fairway St., Roanoke, VA 24012"
1111,Porter,Rowland,male,19,2,5,61.2,"710 Prospect St., Saint Johns, FL 32259"
1405,Wesley,Douglas,male,16,1,14,86.6,"7822 Hawthorne Street, Doylestown, PA 18901"
670,Aretha,Fisher,female,14,1,13,83.2,"699 West Greystone Street, Natchez, MS 39120"
1498,Sharon,Burks,female,15,4,16,87.8,"124 Jennings Street, Flowery Branch, GA 30542"
146,Hu,Weber,male,17,3,9,84.2,"916 East Edgewood Street, Ridgefield, CT 06877"
537,Byron,Buckner,male,16,2,13,92.9,"194 South Johnson Street, Little Rock, AR 72209"
1577,Allegra,Davidson,female,14,5,11,80.9,"7498 Randall Mill St., Hammonton, NJ 08037"
1979,Kai,Woodard,female,17,5,17,100.0,"37 Addison St., Eastpointe, MI 48021"
1048,Erica,Barker,female,16,3,11,83.0,"67 Ridgewood St., Rego Park, NY 11374"
1745,Leandra,Ortiz,female,15,1,15,89.5,"7454 Halifax St., Holbrook, NY 11741"
1166,Dane,Carter,male,16,2,18,94.9,"420 Sierra Road, Fleming Island, FL 32003"
1642,Fitzgerald,Rowland,male,18,5,9,80.4,"49 Logan St., Blackwood, NJ 08012"
1615,Callum,Walls,male,16,4,10,76.9,"9889 North Temple St., Winona, MN 55987"
1442,Barbara,Ratliff,female,19,5,8,88.7,"943 Ryan St., Algonquin, IL 60102"
396,Preston,Church,male,17,1,8,66.1,"379 Sherman Ave., Lakewood, NJ 08701"
1922,Phelan,Frye,male,16,5,19,100.0,"9614 Winding Way St., Stone Mountain, GA 30083"
968,Claire,Schmidt,female,19,1,17,85.2,"64 N. Myrtle Street, Marlborough, MA 01752"
1521,Wayne,Sellers,male,14,4,13,88.8,"75 Paris Hill Drive, Pittsfield, MA 01201"
355,Kadeem,Marshall,male,17,5,18,100.0,"56 North Glen Creek St., San Lorenzo, CA 94580"
1380,Ulla,Russell,female,18,1,15,84.7,"97 Pumpkin Hill St., Niles, MI 49120"
1788,Caryn,Townsend,female,18,5,14,83.5,"76 Applegate Ave., New Windsor, NY 12553"
1585,Renee,Hester,female,18,2,6,68.4,"883 Brown Street, North Attleboro, MA 02760"
845,Lysandra,Noble,female,15,4,13,79.2,"800 E. Peg Shop St., Hoboken, NJ 07030"
1825,Alec,Sparks,male,15,2,13,90.1,"712 Foxrun Street, Hillsborough, NJ 08844"
1115,Yoko,Hurley,female,15,4,12,84.2,"422 Joy Ridge St., Bay City, MI 48706"
885,Wendy,Armstrong,female,14,5,11,88.1,"9177 S. 8th Avenue, Shelton, CT 06484"
...,...,...,...,...,...,...,...,...
1219,Dylan,Delaney,male,14,4,5,64.3,"38 Sage Drive, Port Jefferson Station, NY 11776"
914,Sonia,Mccall,female,16,5,17,100.0,"904 Pheasant Street, Fitchburg, MA 01420"
1761,Uta,Cohen,female,16,5,7,83.9,"7268 South Sherwood Drive, Merrillville, IN 46410"
1462,Zenaida,Ross,female,18,3,10,87.4,"98 Main Circle, Atlantic City, NJ 08401"
235,Rahim,Nicholson,male,16,4,11,76.1,"7175 Pawnee Drive, Elizabethtown, PA 17022"
1298,Erica,Bond,female,15,3,16,100.0,"38 Mechanic Street, New Milford, CT 06776"
919,Kyra,Conley,female,14,1,6,70.8,"26 Smith Store Ave., Hope Mills, NC 28348"
1656,Lester,Mcconnell,male,17,1,10,83.9,"8981 Princeton Dr., Raleigh, NC 27603"
190,Hoyt,Salazar,male,19,4,14,89.9,"889 Sunnyslope Avenue, Maryville, TN 37803"
1236,Elmo,Roy,male,18,1,10,78.4,"7936 Birchpond Street, Philadelphia, PA 19111"
706,Mason,Burke,male,14,4,10,84.3,"831 Adams St., Lumberton, NC 28358"
747,Malcolm,Nicholson,male,19,3,9,79.2,"8 NW. Marshall Drive, Chelmsford, MA 01824"
394,Kamal,Dodson,male,17,4,7,77.6,"396 S. Bowman Lane, Cape Coral, FL 33904"
1389,Mariko,Le,female,18,2,15,91.1,"8086 Elmwood Street, Hickory, NC 28601"
1587,Kirby,Vance,female,17,1,15,97.3,"699 W. Pin Oak Street, Holly Springs, NC 27540"
786,Kathleen,David,female,15,3,11,89.1,"57 Miller Dr., Henrico, VA 23228"
1600,Phillip,Sloan,male,17,1,12,87.9,"445 Armstrong Rd., Santa Monica, CA 90403"
1546,Kirsten,Lloyd,female,14,2,14,78.0,"7964 Edgewood St., Bonita Springs, FL 34135"
1213,Arthur,Nieves,male,14,3,0,76.8,"377 Beech Street, Chesterfield, VA 23832"
195,Hector,Aguilar,male,14,1,9,68.8,"23 W. Pulaski Lane, Teaneck, NJ 07666"
1466,Dustin,Barry,male,18,3,14,90.6,"39 Wakehurst Ave., Yorktown Heights, NY 10598"
1574,Akeem,Tucker,male,15,2,9,85.1,"583 Pin Oak Ave., Bardstown, KY 40004"
228,Hall,Flynn,male,18,2,6,71.9,"746 Campfire Rd., Moncks Corner, SC 29461"
33,Doris,Melendez,female,17,5,12,93.2,"8 Euclid Drive, Bel Air, MD 21014"
1790,Josiah,Dennis,male,14,1,14,86.1,"909 Lilac Ave., Pleasanton, CA 94566"
1880,Chanda,Sellers,female,15,3,5,64.9,"9027 Corona Street, Kearny, NJ 07032"
1256,Lara,Newton,female,17,4,12,86.0,"6 Rocky River Drive, Glen Burnie, MD 21060"
1573,Linda,Moreno,female,15,3,3,61.7,"736 Elmwood Ave., South Bend, IN 46614"
1956,Neve,Barnes,female,19,2,9,79.8,"547 Southampton Rd., Jackson, NJ 08527"
746,Chase,Wiley,male,14,1,13,90.8,"5 Second St., Dubuque, IA 52001"